@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-semibold;
}

.limit-text-lenght {
  @apply text-ellipsis whitespace-nowrap overflow-hidden;
}

.btn-blue {
  @apply primary-blue-bg rounded-md p-2 text-white hover:bg-blue-500;
}

.sidebar-item {
  @apply p-4 hover:bg-gray-200 cursor-pointer;
}

.primary-blue-bg {
  @apply bg-[#698EFF];
}

.sidebar {
  @apply max-w-xs border-r-2 h-full min-h-screen w-full absolute md:static bg-white duration-200 ease-in -translate-x-full overflow-y-auto;
}

.show-sidebar {
  @apply translate-x-0;
}

#sidebar {
  -webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
  transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
}

.icon-primary-color {
  @apply text-white hover:text-slate-300 transition-all ease-in-out duration-100;
}
